body {
    background: url("/img/bg.png");
}
body.space {
    background: url("/img/space.jpg");
}

body.space .panel,
body.space table,
body.space input,
body.space select,
body.space table thead,
body.space table tfoot,
body.space span.prefix
{
    background-color: #111;
}

body.space table tr.even,
body.space table tr.alt,
body.space table tr:nth-of-type(even) {
    background: #212121;
}

body.space input[type="text"][disabled]{
    background-color: #101010;
}


body.space,
body.space h1,
body.space h2,
body.space h3,
body.space h4,
body.space h5,
body.space h6,
body.space input,
body.space select,
body.space table thead,
body.space table tfoot,
body.space table tr th,
body.space table tr td,
body.space span.prefix
{
    color: #CCC;
}

.row{
    max-width: 73.5em;
}

.green{
    color:#005709;
}
.red{
    color:#570002;
}

.dogeCoin{
    margin-top:20px;
    width:140px;
}

.center {
    text-align: center;
}
.underlined{
    border-bottom:1px solid;
}
.comic {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.doge {
    text-transform: lowercase;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #f35536;
}

.small-pad{
    padding: 4px;
}

.button,
.button.tiny,
.button.small
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid rgb(138, 105, 69);
    padding: 7px 12px;
}

#sellReport p{
    font-size:90%;
}
.strong{
    font-weight:bold;
}
rect.overlay{
    opacity: 0.04;
}
rect.legend{
    fill:#fff;
    stroke: #CCC;
    stroke-width:1;
}

.legendText{
    font-size: 13px;
}
.legendSourceText{
    font-size: 12px;
    fill:#444;
}

g.y.axis{
    font-size: 13px;
    fill: #ff4c11;
}
g.y.axis.usd{
    fill: #022fff;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
g.coinbase circle,
circle.coinbase{
    fill: #022fff;
}
path.coinbase{
    stroke: #022fff;
}
g.vos circle,
circle.vos{
    fill: #3e84ff;
}
path.vos{
    stroke: #3e84ff;
}
g.cryptsy circle,
circle.cryptsy{
    fill: #ff4c11;
}
path.cryptsy{
    stroke: #ff4c11;
}
.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.x.axis text{
    fill: #606060;
    font-size:13px;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #9B9B9B;
}

.button.graphToggle{
margin-left:10px;
}
.button.graphToggle div.dot{
    width: 8px;
    border-radius: 50%;
    height: 8px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 3px;
}

.button.graphToggle.cryptsy div.dot{
    background-color: #ff4c11;
}
.button.graphToggle.vos div.dot{
    background-color: #3e84ff;
}
.button.graphToggle.coinbase div.dot{
    background-color: #022fff;
}
path.faded{
    opacity: 0.1;
}

.button.tiny{
    font-size: 10px;
    padding: 4px 6px;
}
.button.small{
    font-size: 12px;
}

a.linkMarker{
    padding-top: 40px;
}

.pad-top{
    padding-top:20px
}
#currentPrice {
    font-size: 75px;
    text-align: center;
}
.panel.tablePanel{
    max-height: 360px;
    overflow: auto;
    padding:6px;
}
div.row.smallTable.removed,
div.row.smallTable.added{
    margin: 1px -6px;
    padding-top: 5px;
}

div.row.smallTable.removed.big{
    color: #fff;
    background-color: #D80F0F;
}
div.row.smallTable.removed.medium{
    background-color: #fbc7ca;
}
div.row.smallTable.removed.small{
    background-color: #fbe0ef;
}

div.row.smallTable.added.big{

    color: #fff;
    background-color: #00690D;
}
div.row.smallTable.added.medium{
    background-color: #89D684;
}
div.row.smallTable.added.small{
    background-color: #d1fbcb;
}

#donateButton{
    font-size: 70%;
    color: #979797;

}

div.changeBtc{
    font-weight: bold;
    font-size:100%;
    padding-top:6px;
}


.smallTable{
    font-size:90%;
}
div.row.smallTable {
    margin:5px 0px;
    border-bottom: 1px solid #CCC;
}
div.row.smallTable:last-child {
    border-bottom: none;
}
.smallTable.strong{
    font-weight: bold;
}
.smallTable .button.tiny{
    margin: 0px;
    padding: 0px 4px;
}
.smallTable .columns{
    padding-bottom: 3px;
}
.a-right{
    text-align:right;
}
.orderBookTable .columns{
    text-align: right;
}
#tradePercentContainer,
#buyContainer,
#sellContainer{
    height:40px;
}

.small{
    font-size: 90%;
}
.light{
    color:#858585;
}

#buyContainer,
#sellContainer{
    padding-top:6px;
    width:50%;
    height:38px;
    font-size:12px;
    float:left;
    text-align: center;
}
body.space #buyContainer{
    background-color: #005709;
}
body.space #sellContainer{
    background-color: #570002;
}
#buyContainer{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #005709;
    background-color: #a7ffa4;
}
#sellContainer{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffb6bf;
    border: 1px solid #570002;
}

#tradePercentContainer{
    border-radius: 5px;
}

.celebrate {
    display: none;
    position: absolute;
}

#mooon {
    top: 50px;
    right: 0px;
    width: 200px;
}

#rocket {
    z-index:20;
    width: 100px;
    left: 0px;
    bottom: 2px;
}

#donations{
    position: absolute;
    top:100px;
    left:10px;
    color:#fff;
}

#bottomSpacer{
    height:700px;
}

#errorModal .close-reveal-modal{
    font-size: inherit;
    position: relative;
    float: right;
    color:#fff;
}

h3.errorTitle{
    border-bottom: 1px solid #303030;
    font-size: 20px;
    position: absolute;
    background-color: #444;
    color: #fff;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 10px;
}

#errorContent{
    margin-top:30px;
}